header{
  height: 400px;
  position: relative;
  top: 120px;
  background-color: #ed962b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

header div {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .bodySection {
    display: flex;
    width: 90%;
    margin-left: 10px;
    margin-right: auto;

  }
  .bodySection header {
    padding: 20px;
    margin: 20px;
    background-color: #e7a656;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  .userName {
    padding: 0%;
    margin-left: -10px;
    margin-top: -40px;

  }
  
}