header{
  height: 400px;
  width: 400;
  background-color: #ed962b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

header div {
  display: flex;
  justify-content: center;
}
