.nav {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 999;
  background-color: #ed962b;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.nav h1 {
  color: antiquewhite;
  font-family: 'Bungee', sans-serif;
}

.nav h2 {
  color: antiquewhite;
  font-size: larger;
}

.navBar {
  display:  flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: #5a46f3;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }
}