article{
  position: relative;
  top: 60px;
  border: 3px solid rgb(68, 68, 68);
  border-radius: 4px;
  padding: 10px 20px ;
  margin-bottom: 20px;
}



article section {
  display: flex;
  justify-content: space-between; 
}

.tag {
  visibility: hidden;
  position: relative;
  top: 35px;
}
article section div label {
  position: absolute;
  top: 45px;
}

article section div img {
  width: 100px;
  
}

.below {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}


.old-tweet-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 3px solid rgb(68, 68, 68);
  padding-top: 20px;
}

.fa-flag{
  padding-right: 10px;
  color: rgb(68, 68, 68)
}
.fa-retweet {
  padding-right: 10px;
  color: rgb(68, 68, 68);
}

.fa-heart {
  color: rgb(68, 68, 68);
}